{{ define "performers_content" }}

{{ $searchField := .Page.SearchByPerformer }}

<div class="d-flex justify-content-between align-items-center mt-2">
    <h1 class="h4 mb-3">{{ .Page.Title }}</h1>
</div>

<!-- Блок поиска всегда отображается -->
<div class="search-container mb-3">
    <form method="GET" action="/admin/performers" class="row g-2" id="searchForm">
        <div class="col-auto">

            <!-- Поиск по ФИО -->
            <label for="searchFIO" style="position: relative; display: inline-block;">
                <input type="text"
                       name="fio"
                       id="searchFIO"
                       class="form-control form-control-sm"
                       style="width: 45ch; padding-right: 15px;"
                       placeholder="Поиск по ФИО..."
                       value="{{ $searchField.FIO }}"
                       autocomplete="off"
                       maxlength="45">

                {{if $searchField.FIO }}
                <span id="clearSearchIconFIO"
                      style="position: absolute;
                      right: 8px;
                      top: 50%;
                      transform: translateY(-50%);
                      cursor: pointer;
                      color: #999;
                      font-size: 14px;">
                   ✗
                </span>
                {{end}}
            </label>

            <!-- Поиск по табельному номеру -->
            <label for="searchTabNum" style="position: relative; display: inline-block;">
                <input type="text"
                       name="tabNum"
                       id="searchTabNum"
                       class="form-control form-control-sm"
                       style="width: 15ch; padding-right: 15px;"
                       placeholder="Поиск по ТН..."
                       value="{{ $searchField.TabNum }}"
                       autocomplete="off"
                       maxlength="25">

                {{if $searchField.TabNum }}
                <span id="clearSearchIconTabNum"
                      style="position: absolute;
                      right: 8px;
                       top: 50%;
                       transform: translateY(-50%);
                       cursor: pointer;
                       color: #999;
                       font-size: 14px;">
                    ✗
                </span>
                {{end}}
            </label>

        </div>
    </form>

    <div class="alert {{ if eq (len .Page.PerformersList) 0 }}alert-warning{{ else }}alert-info{{ end }} mt-2 py-1 px-3">
        <i class="bi bi-{{ if eq (len .Page.PerformersList) 0 }}exclamation-triangle{{ else }}info-circle{{ end }}"></i>
        {{ if eq (len .Page.PerformersList) 0 }}
        По запросу ничего не найдено
        {{ else }}
        По запросу найдено: {{ len .Page.PerformersList }} вариантов упаковки
        {{ end }}
    </div>
</div>


<div class="card shadow">
    <div class="card-body p-0">
        <div class="table-responsive">
            <div style="height: calc(100vh - 300px); overflow-y: auto; position:relative;">
                <table class="table table-hover mb-0" style="min-width: 1100px;" id="performerTable">

                    <!-- Размер столбцов -->
                    <colgroup>
                        <col style="width: 40px">
                        <col style="width: 400px">
                        <col style="width: 50px">
                    </colgroup>
                    <!-- Шапка таблицы -->
                    <thead class="table-light"
                           style="position: sticky; top: 0; z-index: 10; background-color: #f8f9fa;">

                    <tr>
                        <th class="text-nowrap text-center">ИД <br>печки</th>
                        <th class="text-nowrap text-center align-middle">ФИО</th>
                        <th class="text-nowrap text-center align-middle">ТН</th>
                        <th class="text-nowrap text-center">Код <br> пропуска</th>
                        <th class="text-nowrap text-center">Доступ к<br> сканеру</th>
                        <th class="text-nowrap text-center align-middle">Пароль</th>
                        <th class="text-nowrap text-center">Дата допуска <br>к сканеру</th>
                        <th class="text-nowrap text-center align-middle">Архив</th>
                        <th class="text-nowrap text-center">Роль <br> АФормс</th>
                        <th class="text-nowrap text-center">Роль <br> ТЛК</th>
                        <th class="text-nowrap text-center">Дата <br> записи</th>
                        <th class="text-nowrap text-center">ТН <br> создателя</th>
                        <th class="text-nowrap text-center">Дата <br> изменения</th>
                        <th class="text-nowrap text-center">ТН <br> создателя</th>
                        <th class="text-nowrap text-center">Панель <br> операций</th>
                    </tr>

                    </thead>

                    <tbody>

                    {{ range .Page.PerformersList }}
                    <tr>

                        <td class="text-center">{{ .SectorId }}</td>
                        <td>{{ .FIO }}</td>
                        <td class="text-center">{{ .TabNum }}</td>
                        <td class="text-center">{{ .Barcode }}</td>
                        <td class="text-center">{{ .AccessBarcode }}</td>
                        <td class="text-center">{{ .Passwd }}</td>
                        <td class="text-center">{{ formatDateTime .IssuedAt }}</td>
                        <td class="text-center">{{ .Archive }}</td>
                        <td class="text-center">{{ .PerformerRole.RoleNameAForms }}</td>
                        <td class="text-center">{{ .PerformerRole.RoleNameAFGW }}</td>
                        <td class="text-center">{{ formatDateTime .AuditRec.CreatedAt }}</td>
                        <td class="text-center">{{ .AuditRec.CreatedBy }}</td>
                        <td class="text-center">{{ formatDateTime .AuditRec.UpdatedAt }}</td>
                        <td class="text-center">{{ .AuditRec.UpdatedBy }}</td>

                        <td>
                            <div class="d-flex justify-content-center gap-1">
                                <!-- Кнопка редактирования -->
                                <button class="btn btn-sm btn-outline-primary edit-btn px-0 py-0"
                                        title="Редактировать"
                                        onclick="window.open('/admin/performers/upd?id={{ .Id }}', '_self')">
                                    <span>✏️</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    {{ end }}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="alert {{ if eq (len .Page.PerformersList) 0 }}alert-warning{{ else }}alert-info{{ end }} mt-2 py-1 px-3">
    <i class="bi bi-{{ if eq (len .Page.PerformersList) 0 }}exclamation-triangle{{ else }}info-circle{{ end }}"></i>
    Всего: {{ len .Page.PerformersList }}
</div>

{{ end }}