<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <script>
        (function () {

            // Очищаем историю
            if (window.history.replaceState) {
                history.replaceState(null, '', '{{.CurrentURL}}');
                history.pushState({authed: false}, '', '{{.TempURL}}');
                history.back();
            }
            
            // Редирект
            setTimeout(function () {
                window.location.replace('{{.TargetURL}}');
            },);

            // Фолбэк
            setTimeout(function () {
                window.location.replace('{{.TargetURL}}');
            },);
        })();
    </script>
</head>
<body>
<p>{{.Message}}</p>
<noscript>
    <p>{{.NoScriptMessage}}</p>
    <p><a href="{{.TargetURL}}">Перейти</a></p>
</noscript>
</body>
</html>